@page
@model NASH1.Pages.Orders.RestaurantModel
@{
}


<body>

    <h1 class="mainSubTitle"></h1>
    <br />
    <br />
    <div class="cover">
       
            @foreach (var food in @Model.Menus.Restaurants)
            {
                var imagePath = "~/images/" + (food.RestaurantImage + ".png");

                <div class="item-card2">
                    <div id="item-card2">
                        <img src="@imagePath" width="30px" height="100px" asp-append-version="true" />

                        <p id="item-name">@food.RestaurantName </p>
                        <br>
                        <br>
                        <a class="btn btn-primary mt-1" asp-area="" asp-page="/FoodPage/@food.Pagename">Order</a>
                    </div>
                </div>
            }
        
    </div>
</body>

