@page

@model NASH1.Pages.Orders.StartOrderModel
@{
}



<body>
    <p class="page2title">Please enter your personal information</p>
<form method="post">
   
<ul class="form-style-1">
    <li>
        <label>Name </label>
         <input type="text" class="field-long" asp-for="Info.Name" placeholder="Name"  />
    </li>
     <li>
        <label>Tel </label>
        <input type="tel" class="field-long" asp-for="Info.Tel" placeholder="Tel"  />
    </li>
    <li>
        <label>Email </label>
        <input type="text" class="field-long" asp-for="Info.Tel" placeholder="Email"  />
    </li>
    <li>
        <label>Address</label>
         <input type="text" class="field-long" asp-for="Info.Address" placeholder="Address"  />

    </li>
   
    
    <li>
        
        <button onclick="submit" asp-page="Restaurant">Next</button>
       
    </li>
</ul>
</form>


	
</body>
